<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - Ife's Cloud</title>
    {% else %}
        <title>Ife's Cloud</title>
    {% endif %}

    {% include 'html_dependencies.jinja2' %}
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Ife's Cloud</h3>
                <strong>Ife</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="quick-access">
                    <i class="fas fa-folder fa-1x"></i> Quick Folder Access
                </li>
                {% if session['user_id'] and quick_folder %}
                    {% for folder in quick_folder %}
                        <li>
                            <a href="{{ url_for('folders.folder_list_for_ancestor', parent_name=folder.file_name) }}">
                                <i class="far fa-folder fa-1x"></i>
                                {{ folder.file_name }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>


        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            {% if session['email'] %}
                                <li><a href="{{ url_for('folders.folders') }}">Home <span class="glyphicon glyphicon-home"></span></a></li>
                                <li><a href="#">FAQ's <span class="glyphicon glyphicon-question-sign"></span></a></li>
                                <li><a href="{{ url_for('users.logout_user') }}">Log out <span class="glyphicon glyphicon-log-out"></span></a></li>
                            {% else %}
                                <li><a href="{{ url_for('users.register_user') }}">Sign Up <span class="glyphicon glyphicon-user"></span></a></li>
                                <li><a href="{{ url_for('users.login_user') }}">Login <span class="glyphicon glyphicon-log-in"></span></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

            {% include 'alerts.jinja2' %}

            {% block content %}

            {% endblock %}
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="newFolder" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create new folder</h4>
        </div>

        <div class="modal-body">
            {% include 'uploaders/snippets/new-folder.jinja2' %}
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

    </div>
</div>
</body>
</html>