{% extends "base.jinja2" %}
{% block content %}
   <a href="{{ url_for('users.user_uploads', user_id=user.get_id) }}" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span> My Files</a>

{% endblock %}