<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/web-fonts-with-css/css/fontawesome-all.css') }}" >
<script rel="stylesheet" type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script rel="stylesheet" type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script rel="stylesheet" type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
