<div class="card-menu">
    {% if file.new %}
        <span class="label label-danger">New</span>
    {% else %}
        <span class="created_text">{{ file.created_at.strftime("%a, %b %y")}} </span>
    {% endif %}
    <div class="dropup">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="three-dot"></div>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            {% if file.upload_type != 'folder' %}
                <li>
                    <a href="{{ url_for('uploader.download_file', user_id=file.user_id, file_id=file.get_id) }}">
                        <span class="glyphicon glyphicon-download-alt"></span>  Download</a>
                </li>
                <li>
                    <a target="_blank" href="{{ url_for('uploader.send_file', user_id=file.user_id, file_id=file.get_id) }}">
                        <span class="glyphicon glyphicon-eye-open"></span>  View</a>
                </li>
            {% endif %}
            <li>
                <a href="{{ url_for('folders.delete', file_id=file.get_id) }}" class="delete-link">
                    <span class="glyphicon glyphicon-trash"></span>  Delete</a>
            </li>
        </ul>
    </div>
</div>