{% if file.ext_name in ['.jpg', '.png', '.jpeg', '.gif'] %}
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        {% include 'uploaders/file_types/image.jinja2' %}
    </div>
{% elif file.ext_name in ['.pdf'] %}
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        {% include 'uploaders/file_types/pdf.jinja2' %}
    </div>
{% elif file.ext_name in ['.docx', '.dotx'] %}
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        {% include 'uploaders/file_types/word.jinja2' %}
    </div>
{% elif file.upload_type in ['folder'] %}
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
        {% include 'uploaders/file_types/folder.jinja2' %}
    </div>
{% endif %}