<div class="card">
    {% include 'uploaders/file_types/3-dot-menu.jinja2' %}
    <a href="{{ url_for('folders.folder_list_for_ancestor', parent_name=file.file_name) }}">
        <div class="folder-container">
            <i class="far fa-folder fa-3x file-folder"></i>
        </div>
    </a>

    <div class="card-container">
        <p class="folder-file-name" title="{{ file.file_name }}">{{ file.file_name }}</p>
    </div>
</div>