<div class="card">
   {% include 'uploaders/file_types/3-dot-menu.jinja2' %}

    <div class="image-container">
        <img src="{{ url_for('uploader.send_file', user_id=file.user_id, file_id=file.get_id) }}" alt="Avatar">
    </div>
    <div class="card-container">
        <p class="file-name" title="{{ file.file_name }}">{{ file.file_name }}</p>
    </div>
</div>