<div class="card">
    {% include 'uploaders/file_types/3-dot-menu.jinja2' %}
    <div class="image-container">
        <i class="far fa-file-word fa-5x word-file"></i>
    </div>
    <div class="card-container">
        <p class="file-name" title="{{ file.file_name }}">{{ file.file_name }}</p>
    </div>
</div>