/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #1e2c79e8;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
    word-break: break-all;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    /* background: #3749ad91; */
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #343f84;
}

#sidebar ul li a {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
    color: hsl(0, 0%, 80%);
}

#sidebar ul li a:hover {
    color: #ffff;
    background: #af3333;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #142571;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0f1b61;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


/* -----------------------------------------------
    BOOTSTRAP OVERRIDES
-------------------------------------------------*/
.navbar-default .navbar-nav>li>a {
    color: #343f84;
    font-weight: 600;
}

#sidebarCollapse{
    background-color: #343f84;
}

.form-size{
    max-width: 640px;
    margin: 0 auto;
    background-color: #e9e9e9;
    padding: 20px;
    border: 1px solid #d5d5d5d5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.alert{
    margin: 0 auto;
    width: 800px;
    margin-bottom: 20px;
}

.image-container img{
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    display:block;
    margin:auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    padding: 2px 16px;
}

.image-container{
    height: 120px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.image-container i{
    top: 22%;
    position: absolute;
    left: 32%;
}

.folder-container{
    width: 100%;
    height: 42px;
    overflow: hidden;
    position: relative;
    padding: 0 16px;
}

.folder-container i{
    position: absolute;
    left: 41%;
}

i.pdf-file{
    color: #c31616;
}

i.word-file{
    color: #10107b;
}

i.file-folder{
    color: sandybrown;
    display: block;
    margin: auto;
}

.file-name{
    width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}

.folder-file-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    text-align: center;
    padding-bottom: 4px;
}

.new-tag{
    float: right;
    padding: 5px;
    margin-bottom: 4px;
}

.card-menu .dropup{
    float: right;
}

.card-menu .dropup > button{
    padding: 0 5px;
    height: 28px;
    background-color: transparent;
    border: none;
}

.card-menu .dropup li a{
    font-size: 12px;
}

.three-dot:after {
  content: '\2807';
  font-size: 21px;
  color: #2e2e2e
}

.header-options{
    position: absolute;
    bottom: 32%;
    right: 25px;
    text-align: right;
}

.header-options-menu{
    right: 0;
    left: initial;
}

.page-header{
    position: relative;
    margin: 20px 0 20px;
}

#search_folder{
    width: 240px;
}

#search_button{
    border-radius: 0;
    margin-left: -4px;
}

.header-options .form-inline{
    display: inline-block;
}

.header-options .input-group-btn{
    display: inline;
}

.quick-access{
    margin: 0 20px;
    padding: 10px 0;
}

.card-menu{
    height: 28px;
}

.created_text{
    font-size: 10px;
    padding: 5px;
    color: hsl(0, 0%, 57%);
}