<form class="form-inline" action="{{ url_for('folders.folders') }}" method="post">
    <div class="form-group">
        <label for="folder_name">Folder Name</label>
        <input type="hidden" value="{{ parent_id }}" name="parent">
        <input type="text" class="form-control" id="folder_name" name="folder_name" placeholder="Enter folder name" required>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>