{% extends "base.jinja2" %}
{% block content %}
    <ol class="breadcrumb">
        {% for route in routes %}
            <li><a href="{{ url_for('folders.folder_list_for_ancestor', parent_name=route) }}">
                <i class="far fa-folder fa-1x"></i> {{ route }}</a></li>
        {% endfor %}
        <li class="active">
            <a href="{{ url_for('folders.folder_list_for_ancestor', parent_name=present_folder) }}">
            <i class="far fa-folder fa-1x"></i> {{ present_folder }}
            </a>
        </li>
    </ol>

    <div class="page-header">
        <h1>Your files</h1>
        <div class="input-group header-options">
            <form class="form-inline" action="{{ url_for('folders.folder_search', parent_id=parent_id) }}">
                <div class="form-group">
                    <input type="text" class="form-control" id="search_folder" value="{{ query }}" name="query" placeholder="Enter file name">
                </div>
                <button type="submit" id="search_button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            </form>
            <div class="input-group-btn">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#newFolder">
                        <span class="glyphicon glyphicon-plus"></span> New Folder
                    </button>
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu header-options-menu">
                        <li>
                            <a href="{{ url_for('uploader.upload', parent_id=parent_id) }}">
                                <i class="glyphicon glyphicon-upload"></i>
                                Upload
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% if files.folder %}
        <div class="page-header">
            <h4>Folders</h4>
        </div>
        <div class="row">
            {% for file in files.folder %}
                {% include 'uploaders/file_types/display_files.jinja2' %}
            {% endfor %}
        </div>
    {% endif %}

    {% if files.file %}
        {% if files.folder %}
            <div class="page-header">
                <h4>Files</h4>
            </div>
        {% endif %}
        <div class="row">
            {% for file in files.file %}
                {% include 'uploaders/file_types/display_files.jinja2' %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}