{% extends "base.jinja2" %}
{% block content %}
    <div class="form-size">
        <form action="{{ url_for('uploader.upload', parent_id=parent_id) }}", method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file_upload">Files</label>
                <input type="file" class="form-control" id="file_upload" name="file_upload" multiple />
            </div>

            <button type="submit" class="btn btn-success">Upload</button>
        </form>
    </div>
{% endblock %}